<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/public/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>

    <div id="cookieModal" class="modal">
      <div class="modal-content">
        <h2>Cookie Consent</h2>
        <p>This website uses cookies to ensure you get the best experience on our website.</p>
        <div class="button-container">
          <button id="acceptCookies" onclick="acceptCookies()">Accept</button>
          <button id="denyCookies" onclick="denyCookies()">Deny</button>
        </div>
      </div>
    </div>

    <div class="container">
      <h1 id ="virsraksts" style="text-align: center " >Skrāpē, bet nelaimē neko</h1>
      <div class="input-container" id="input-container">
        <input required="" placeholder="e-pasts" id="emailField" type="email" class="input-field" value=<%=email%>>
        <button onclick="sutit()" id="sutit_poga" class="submit-btn" type="button">Spēlēt</button><br>
      </div>
      <div class="base">
        <img src="/public/images/background-layer.png" class="background-image" id="backgroundImage">
        <div class="grid-container">
            <div class="grid-item" id="item1"></div>
            <div class="grid-item" id="item2"></div>
            <div class="grid-item" id="item3"></div>
            <div class="grid-item" id="item4"></div>
            <div class="grid-item" id="item5"></div>
            <div class="grid-item" id="item6"></div>
            <div class="grid-item" id="item7"></div>
            <div class="grid-item" id="item8"></div>
            <div class="grid-item" id="item9"></div>
          </div>
      </div>
      <canvas id="scratch" width="300" height="300"></canvas>
    </div>
    
    <!-- Script -->
    <script src="/public/script.js"></script>





    <script>
      console.log("cookies:",document.cookie);
function sutit(){
  removeAlerts()
  useremail = document.getElementById("emailField").value;
  $.ajax('/api/sakt',
  {
      type:"POST",
      data:{
        email: useremail, 
        allowCookies: getCookie('allowCookies'),
      },
      success: function (data, status, xhr) {
        console.log("Incoming data:", data);
        data = JSON.parse(data);
        console.log(data.type);
        switch(data.type){
          case "!email":
            alert("Ievadi normālu epastu");
            break;
          case "wait":
            alert("Jāuzgiada pirms var atkal spēlēt! \n Jāgaida vēl "+data.time+" sekundes");
            break;
          case "ok":
            items = data.items;
            saktSpeli();
            break;
          default:
            alert("Something went wrong!");
        }
      }
  });
}

function sanemtPazinojumu(){
  gotAlert = true;
//$("#saturs").html("");
// console.log(useremail);
if(typeof useremail == 'undefined'){
  console.log("vajadzetu but alertam");
  return alert("Necenties mani apkrāpt!");
}
  $.ajax('/api/sanemtPazinojumu',
  {
    type:"POST",
    data:{
      email: useremail,
    //  teksts: teksts
    },
    success: function (data, status, xhr) {
      data = JSON.parse(data);
        showCustomAlert(data[0].image, data[0].message);
    }
  });
}

    </script>
  </body>
</html>