<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link rel="stylesheet" href="/public/registerStyle.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
<body>

<!-- <form type="post" style="border:1px solid #ccc" id="registerForm"> -->
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input id="email" type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input id="psw" type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input id="pswRepeat" type="password" placeholder="Repeat Password" name="pswRepeat" required>
    <div class="clearfix">
      <button onclick=cancel() type="button" class="cancelbtn">Cancel</button>
      <button onclick=submit() type="button" class="signupbtn">Sign Up</button>
    </div>
  </div>
<!-- </form> -->
<script>
console.log("cookies:",document.cookie);
function submit(){
    email = document.getElementById('email').value;
    psw = document.getElementById('psw').value;
    pswRepeat = document.getElementById('pswRepeat').value;
    console.log(email, psw, pswRepeat);
    $.ajax('/register',{
        type: 'POST',
        data: {
            email: email,
            psw: psw,
            pswRepeat: pswRepeat,
        },
        success: function(response) {
            console.log(response);
            // data = JSON.parse(response);
            console.log(response.type);
            switch(response.type){
            case "!email":
                alert("Ievadi normālu epastu");
                break;
            case "exists":
                alert("This email is registerd");
                break;
            case "pw!=pwRepeat":
                alert("Paroles nesakrīt");
                break;
            case "ok":
                console.log("cookies:",document.cookie);
                alert("Veiksmīgi reģistrēts");
                window.location.href = '/';
                break;
            default:
                console.log("unknown response!");
                
            }
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        }
    });
}
function cancel(){
    window.location.href = '/';
}
</script>
</body>
</html>
